@model List<Product>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!-- Link to users.css -->
<link rel="stylesheet" href="~/assets/css/users.css" />

<div class="users-page">

    <!-- Search Input -->
    <div class="search-container">
        <form> 
        <input type="text" id="search-input" placeholder="Product Id..." />
        <input type="text" id="search-input" placeholder="Search by Product Name..." />
        <button class="search-btn">Search</button>
        </form>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ProductId</th>
                    <th>ProductName</th>
                    <th>BarCode</th>
                    <th>SubCategory</th>
                    <th>Barnd</th>
                    <th>IsActive</th>
                    <th>CreatedDate</th>
                </tr>
            </thead>
            <tbody>
                <!-- Placeholder rows for now -->
                @foreach(var item in Model)
                {
                    <tr>
                        <td>@item.ProductId</td>
                        <td><a asp-action="GetProductById" asp-controller="Product" asp-route-productId="@item.ProductId">@item.ProductName</a></td>
                        <td>@item.BarCode</td>
                        <td>@item.SubCategory?.SubCategoryName</td>
                        <td>@item.Brand?.BrandName</td>
                        @if(item.IsActive == true)
                        {
                            <td>Yes</td>
                        }
                        else
                        {
                            <td>No</td>
                        }
                        <td>@item.CreatedAt.Date</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
